# Week 1 Assignmnet

# New Section

For this week's assignment, you are expected to solve all the questions asked. You can google if there's something that you are not sure about. However, copying code from other websites is not allowed.



*   This is a graded assignment
*   Questions are easy/medium
*   Total points: 20

---
**Questions**


1.   load the dataset and split it using ";" (1 point)
2.   Rename the columns according to the first row (1 point)
3.   Generate a bar graph between age and marital columns (2 points)
4.   extract the set of different education levels in the dataset (1 point)
5.   List out all the people who are married and don't own a house (2 points)
6.   Check if values are missing in any dataset. If yes, please list out how many. Also, eliminate those datapoints. (4 points)
7.   List out people with the balance in the negative (1 point)
8.   Generate a scatter plot between age and balance. Do you see any patterns? (2 points)
9.   How many people are entrepreneurs and have balance in access of 1000? (2 points)
10.   List the people who have secondary level education, are entrepreneurs but have a balance less than 1000. (4 points)


---
**How do I answer a question**


* Each question should have a cell.
* Each cell should begin with a markdown stating the question number and the question in the markdown. If you don't know what it is please make a quick google search _how to add markdown in google colab_
* If the question has a subjective question please write your answer using "#" (comments)

_Template of the solution is attached below_


---

> Don't forget to have fun ;)

> we'll have a discussion in the hands-on session if required

## Template of solution
## 1. This is question number on

In [33]:
#write your soluton here
# if there's a subjective question please write it here
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#Q1
df = pd.read_csv("bank-full.csv",sep=';')
print(df)

       age            job   marital  education default  balance housing loan  \
0       58     management   married   tertiary      no     2143     yes   no
1       44     technician    single  secondary      no       29     yes   no
2       33   entrepreneur   married  secondary      no        2     yes  yes
3       47    blue-collar   married    unknown      no     1506     yes   no
4       33        unknown    single    unknown      no        1      no   no
5       35     management   married   tertiary      no      231     yes   no
6       28     management    single   tertiary      no      447     yes  yes
7       42   entrepreneur  divorced   tertiary     yes        2     yes   no
8       58        retired   married    primary      no      121     yes   no
9       43     technician    single  secondary      no      593     yes   no
10      41         admin.  divorced  secondary      no      270     yes   no
11      29         admin.    single  secondary      no      390     yes   no
12      53     technician   married  secondary      no        6     yes   no
13      58     technician   married    unknown      no       71     yes   no
14      57       services   married  secondary      no      162     yes   no
15      51        retired   married    primary      no      229     yes   no
16      45         admin.    single    unknown      no       13     yes   no
17      57    blue-collar   married    primary      no       52     yes   no
18      60        retired   married    primary      no       60     yes   no
19      33       services   married  secondary      no        0     yes   no
20      28    blue-collar   married  secondary      no      723     yes  yes
21      56     management   married   tertiary      no      779     yes   no
22      32    blue-collar    single    primary      no       23     yes  yes
23      25       services   married  secondary      no       50     yes   no
24      40        retired   married    primary      no        0     yes  yes
25      44         admin.   married  secondary      no     -372     yes   no
26      39     management    single   tertiary      no      255     yes   no
27      52   entrepreneur   married  secondary      no      113     yes  yes
28      46     management    single  secondary      no     -246     yes   no
29      36     technician    single  secondary      no      265     yes  yes
...    ...            ...       ...        ...     ...      ...     ...  ...
45181   46    blue-collar   married  secondary      no     6879      no   no
45182   34     technician   married  secondary      no      133      no   no
45183   70        retired   married    primary      no      324      no   no
45184   63        retired   married  secondary      no     1495      no   no
45185   60       services   married   tertiary      no     4256     yes   no
45186   59        unknown   married    unknown      no     1500      no   no
45187   32       services    single  secondary      no     1168     yes   no
45188   29     management    single  secondary      no      703     yes   no
45189   25       services    single  secondary      no      199      no   no
45190   32    blue-collar   married  secondary      no      136      no   no
45191   75        retired  divorced   tertiary      no     3810     yes   no
45192   29     management    single   tertiary      no      765      no   no
45193   28  self-employed    single   tertiary      no      159      no   no
45194   59     management   married   tertiary      no      138     yes  yes
45195   68        retired   married  secondary      no     1146      no   no
45196   25        student    single  secondary      no      358      no   no
45197   36     management    single  secondary      no     1511     yes   no
45198   37     management   married   tertiary      no     1428      no   no
45199   34    blue-collar    single  secondary      no     1475     yes   no
45200   38     technician   married  secondary      no      557     yes   no
45201   53     management   married   tertiary      no      583      no   no
45202   34         admin.    single  secondary      no      557      no   no
45203   23        student    single   tertiary      no      113      no   no
45204   73        retired   married  secondary      no     2850      no   no
45205   25     technician    single  secondary      no      505      no  yes
45206   51     technician   married   tertiary      no      825      no   no
45207   71        retired  divorced    primary      no     1729      no   no
45208   72        retired   married  secondary      no     5715      no   no
45209   57    blue-collar   married  secondary      no      668      no   no
45210   37   entrepreneur   married  secondary      no     2971      no   no

         contact  day month  duration  campaign  pdays  previous poutcome    y
0        unknown    5   may       261         1     -1         0  unknown   no
1        unknown    5   may       151         1     -1         0  unknown   no
2        unknown    5   may        76         1     -1         0  unknown   no
3        unknown    5   may        92         1     -1         0  unknown   no
4        unknown    5   may       198         1     -1         0  unknown   no
5        unknown    5   may       139         1     -1         0  unknown   no
6        unknown    5   may       217         1     -1         0  unknown   no
7        unknown    5   may       380         1     -1         0  unknown   no
8        unknown    5   may        50         1     -1         0  unknown   no
9        unknown    5   may        55         1     -1         0  unknown   no
10       unknown    5   may       222         1     -1         0  unknown   no
11       unknown    5   may       137         1     -1         0  unknown   no
12       unknown    5   may       517         1     -1         0  unknown   no
13       unknown    5   may        71         1     -1         0  unknown   no
14       unknown    5   may       174         1     -1         0  unknown   no
15       unknown    5   may       353         1     -1         0  unknown   no
16       unknown    5   may        98         1     -1         0  unknown   no
17       unknown    5   may        38         1     -1         0  unknown   no
18       unknown    5   may       219         1     -1         0  unknown   no
19       unknown    5   may        54         1     -1         0  unknown   no
20       unknown    5   may       262         1     -1         0  unknown   no
21       unknown    5   may       164         1     -1         0  unknown   no
22       unknown    5   may       160         1     -1         0  unknown   no
23       unknown    5   may       342         1     -1         0  unknown   no
24       unknown    5   may       181         1     -1         0  unknown   no
25       unknown    5   may       172         1     -1         0  unknown   no
26       unknown    5   may       296         1     -1         0  unknown   no
27       unknown    5   may       127         1     -1         0  unknown   no
28       unknown    5   may       255         2     -1         0  unknown   no
29       unknown    5   may       348         1     -1         0  unknown   no
...          ...  ...   ...       ...       ...    ...       ...      ...  ...
45181   cellular   15   nov        74         2    118         3  failure   no
45182   cellular   15   nov       401         2    187         5  success  yes
45183   cellular   15   nov        78         1     96         7  success   no
45184   cellular   16   nov       138         1     22         5  success   no
45185   cellular   16   nov       200         1     92         4  success  yes
45186   cellular   16   nov       280         1    104         2  failure   no
45187   cellular   16   nov       411         1     -1         0  unknown  yes
45188   cellular   16   nov       236         1    550         2  success  yes
45189   cellular   16   nov       173         1     92         5  failure   no
45190   cellular   16   nov       206         1    188         3  success  yes
45191   cellular   16   nov       262         1    183         1  failure  yes
45192   cellular   16   nov       238         1     -1         0  unknown  yes
45193   cellular   16   nov       449         2     33         4  success  yes
45194   cellular   16   nov       162         2    187         5  failure   no
45195   cellular   16   nov       212         1    187         6  success  yes
45196   cellular   16   nov       330         1     -1         0  unknown  yes
45197   cellular   16   nov       270         1     -1         0  unknown  yes
45198   cellular   16   nov       333         2     -1         0  unknown   no
45199   cellular   16   nov      1166         3    530        12    other   no
45200   cellular   16   nov      1556         4     -1         0  unknown  yes
45201   cellular   17   nov       226         1    184         4  success  yes
45202   cellular   17   nov       224         1     -1         0  unknown  yes
45203   cellular   17   nov       266         1     -1         0  unknown  yes
45204   cellular   17   nov       300         1     40         8  failure  yes
45205   cellular   17   nov       386         2     -1         0  unknown  yes
45206   cellular   17   nov       977         3     -1         0  unknown  yes
45207   cellular   17   nov       456         2     -1         0  unknown  yes
45208   cellular   17   nov      1127         5    184         3  success  yes
45209  telephone   17   nov       508         4     -1         0  unknown   no
45210   cellular   17   nov       361         2    188        11    other   no

[45211 rows x 17 columns]

In [35]:
#Q2
new_header=df.iloc[0]
df1=df[1:]
df1.columns=new_header
df1.head()

,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
5,35,management,married,tertiary,no,231,yes,no,unknown,5,may,139,1,-1,0,unknown,no

# New Section

## Please run the code below to load the dataset into the runtime

In [ ]:
# load the modules
!wget -q https://github.com/skathirmani/datasets/raw/master/bank-full.csv

In [19]:
#Q3
#ax1 = df[['age']]
#ax2=df[['marital']]
#index=np.arrange(len(age))
#plt.bar([ax1,ax2)
#plt.show()

In [36]:
#Q4
sd=df["education"]
print (sd)

0         tertiary
1        secondary
2        secondary
3          unknown
4          unknown
5         tertiary
6         tertiary
7         tertiary
8          primary
9        secondary
10       secondary
11       secondary
12       secondary
13         unknown
14       secondary
15         primary
16         unknown
17         primary
18         primary
19       secondary
20       secondary
21        tertiary
22         primary
23       secondary
24         primary
25       secondary
26        tertiary
27       secondary
28       secondary
29       secondary
           ...
45181    secondary
45182    secondary
45183      primary
45184    secondary
45185     tertiary
45186      unknown
45187    secondary
45188    secondary
45189    secondary
45190    secondary
45191     tertiary
45192     tertiary
45193     tertiary
45194     tertiary
45195    secondary
45196    secondary
45197    secondary
45198     tertiary
45199    secondary
45200    secondary
45201     tertiary
45202    secondary
45203     tertiary
45204    secondary
45205    secondary
45206     tertiary
45207      primary
45208    secondary
45209    secondary
45210    secondary
Name: education, Length: 45211, dtype: object

In [4]:
#Q5
df.query("marital=='married' & housing!='no'")

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
5,35,management,married,tertiary,no,231,yes,no,unknown,5,may,139,1,-1,0,unknown,no
8,58,retired,married,primary,no,121,yes,no,unknown,5,may,50,1,-1,0,unknown,no
12,53,technician,married,secondary,no,6,yes,no,unknown,5,may,517,1,-1,0,unknown,no
13,58,technician,married,unknown,no,71,yes,no,unknown,5,may,71,1,-1,0,unknown,no
14,57,services,married,secondary,no,162,yes,no,unknown,5,may,174,1,-1,0,unknown,no
15,51,retired,married,primary,no,229,yes,no,unknown,5,may,353,1,-1,0,unknown,no
17,57,blue-collar,married,primary,no,52,yes,no,unknown,5,may,38,1,-1,0,unknown,no
18,60,retired,married,primary,no,60,yes,no,unknown,5,may,219,1,-1,0,unknown,no
19,33,services,married,secondary,no,0,yes,no,unknown,5,may,54,1,-1,0,unknown,no
20,28,blue-collar,married,secondary,no,723,yes,yes,unknown,5,may,262,1,-1,0,unknown,no
21,56,management,married,tertiary,no,779,yes,no,unknown,5,may,164,1,-1,0,unknown,no
23,25,services,married,secondary,no,50,yes,no,unknown,5,may,342,1,-1,0,unknown,no
24,40,retired,married,primary,no,0,yes,yes,unknown,5,may,181,1,-1,0,unknown,no
25,44,admin.,married,secondary,no,-372,yes,no,unknown,5,may,172,1,-1,0,unknown,no
27,52,entrepreneur,married,secondary,no,113,yes,yes,unknown,5,may,127,1,-1,0,unknown,no
31,49,management,married,tertiary,no,378,yes,no,unknown,5,may,230,1,-1,0,unknown,no
32,60,admin.,married,secondary,no,39,yes,yes,unknown,5,may,208,1,-1,0,unknown,no
33,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
34,51,management,married,tertiary,no,10635,yes,no,unknown,5,may,336,1,-1,0,unknown,no
36,25,blue-collar,married,secondary,no,-7,yes,no,unknown,5,may,365,1,-1,0,unknown,no
41,50,management,married,secondary,no,49,yes,no,unknown,5,may,180,2,-1,0,unknown,no
42,60,blue-collar,married,unknown,no,104,yes,no,unknown,5,may,22,1,-1,0,unknown,no
43,54,retired,married,secondary,no,529,yes,no,unknown,5,may,1492,1,-1,0,unknown,no
44,58,retired,married,unknown,no,96,yes,no,unknown,5,may,616,1,-1,0,unknown,no
46,58,self-employed,married,tertiary,no,-364,yes,no,unknown,5,may,355,1,-1,0,unknown,no
47,44,technician,married,secondary,no,0,yes,no,unknown,5,may,225,2,-1,0,unknown,no
50,54,blue-collar,married,secondary,no,1291,yes,no,unknown,5,may,266,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44918,35,admin.,married,tertiary,no,318,yes,yes,cellular,1,oct,142,1,-1,0,unknown,no
44955,51,management,married,tertiary,no,5108,yes,no,cellular,8,oct,272,1,102,8,other,no
44981,52,technician,married,secondary,no,553,yes,no,telephone,11,oct,160,1,-1,0,unknown,no
44982,46,admin.,married,secondary,no,171,yes,yes,cellular,11,oct,251,1,430,1,failure,no
44986,51,retired,married,secondary,no,0,yes,no,cellular,11,oct,146,4,-1,0,unknown,no
45007,29,admin.,married,tertiary,no,167,yes,yes,cellular,13,oct,357,2,237,2,failure,no
45009,43,technician,married,secondary,no,297,yes,no,cellular,14,oct,119,3,-1,0,unknown,no
45024,47,admin.,married,secondary,no,1387,yes,no,cellular,14,oct,158,1,826,1,failure,no
45040,34,technician,married,secondary,no,159,yes,no,cellular,18,oct,252,1,-1,0,unknown,yes
45042,64,retired,married,secondary,no,466,yes,no,cellular,18,oct,526,1,-1,0,unknown,yes
45044,35,management,married,secondary,no,724,yes,no,cellular,18,oct,102,3,96,3,success,no
45064,52,admin.,married,secondary,no,423,yes,yes,cellular,20,oct,139,2,96,7,failure,no
45069,52,technician,married,secondary,no,371,yes,yes,cellular,21,oct,453,1,183,3,success,yes
45086,38,management,married,tertiary,no,536,yes,no,cellular,22,oct,234,1,92,1,success,yes
45103,33,admin.,married,secondary,no,51,yes,yes,cellular,25,oct,253,1,284,3,success,yes
45108,36,technician,married,tertiary,no,844,yes,yes,cellular,25,oct,129,1,-1,0,unknown,no
45109,78,management,married,unknown,no,1780,yes,no,cellular,25,oct,211,2,185,7,success,yes
45110,50,management,married,tertiary,no,8205,yes,no,telephone,25,oct,293,3,508,1,other,no
45136,53,self-employed,married,tertiary,no,730,yes,no,unknown,2,nov,18,1,368,2,failure,no
45142,34,admin.,married,tertiary,no,79,yes,no,cellular,8,nov,120,2,95,6,success,no
45160,35,technician,married,secondary,no,0,yes,no,cellular,9,nov,524,1,96,5,success,yes
45161,31,management,married,tertiary,no,720,yes,no,cellular,9,nov,94,3,-1,0,unknown,no
45165,33,technician,married,tertiary,no,2976,yes,no,cellular,9,nov,465,2,95,12,other,no
45168,62,retired,married,tertiary,no,2557,yes,no,cellular,10,nov,404,1,57,8,success,yes
45169,31,management,married,tertiary,no,2994,yes,no,cellular,10,nov,182,1,229,2,failure,no
45176,54,admin.,married,secondary,no,66,yes,no,cellular,11,nov,167,1,-1,0,unknown,yes
45178,34,blue-collar,married,secondary,no,320,yes,no,cellular,12,nov,413,1,92,3,success,yes
45185,60,services,married,tertiary,no,4256,yes,no,cellular,16,nov,200,1,92,4,success,yes
45194,59,management,married,tertiary,no,138,yes,yes,cellular,16,nov,162,2,187,5,failure,no
45200,38,technician,married,secondary,no,557,yes,no,cellular,16,nov,1556,4,-1,0,unknown,yes

In [10]:
#Q6
df.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [21]:
#Q7
df[df["balance"]<0]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
25,44,admin.,married,secondary,no,-372,yes,no,unknown,5,may,172,1,-1,0,unknown,no
28,46,management,single,secondary,no,-246,yes,no,unknown,5,may,255,2,-1,0,unknown,no
36,25,blue-collar,married,secondary,no,-7,yes,no,unknown,5,may,365,1,-1,0,unknown,no
37,53,technician,married,secondary,no,-3,no,no,unknown,5,may,1666,1,-1,0,unknown,no
45,36,admin.,single,primary,no,-171,yes,no,unknown,5,may,242,1,-1,0,unknown,no
46,58,self-employed,married,tertiary,no,-364,yes,no,unknown,5,may,355,1,-1,0,unknown,no
51,48,management,divorced,tertiary,no,-244,yes,no,unknown,5,may,253,1,-1,0,unknown,no
53,42,admin.,single,secondary,no,-76,yes,no,unknown,5,may,787,1,-1,0,unknown,no
54,24,technician,single,secondary,no,-103,yes,yes,unknown,5,may,145,1,-1,0,unknown,no
94,57,entrepreneur,divorced,secondary,no,-37,no,no,unknown,5,may,173,1,-1,0,unknown,no
100,44,blue-collar,married,secondary,no,-674,yes,no,unknown,5,may,257,1,-1,0,unknown,no
112,56,self-employed,married,primary,no,-34,yes,yes,unknown,5,may,212,2,-1,0,unknown,no
117,33,management,single,tertiary,no,-67,yes,no,unknown,5,may,364,1,-1,0,unknown,no
127,34,services,married,secondary,no,-16,yes,yes,unknown,5,may,78,1,-1,0,unknown,no
150,51,blue-collar,married,unknown,no,-19,yes,no,unknown,5,may,163,2,-1,0,unknown,no
152,40,management,married,tertiary,no,-4,yes,no,unknown,5,may,2033,1,-1,0,unknown,no
210,38,blue-collar,married,secondary,no,-390,yes,no,unknown,5,may,287,1,-1,0,unknown,no
214,54,blue-collar,married,primary,no,-41,yes,no,unknown,5,may,288,1,-1,0,unknown,no
222,35,entrepreneur,divorced,secondary,no,-69,yes,no,unknown,5,may,300,1,-1,0,unknown,no
230,47,blue-collar,married,primary,no,-12,yes,no,unknown,5,may,18,1,-1,0,unknown,no
239,49,blue-collar,divorced,primary,no,-9,yes,yes,unknown,5,may,389,1,-1,0,unknown,no
267,39,admin.,divorced,secondary,no,-349,yes,no,unknown,5,may,611,2,-1,0,unknown,no
276,39,services,divorced,secondary,no,-185,yes,no,unknown,5,may,189,3,-1,0,unknown,no
281,41,admin.,married,secondary,no,-62,yes,yes,unknown,5,may,55,2,-1,0,unknown,no
315,46,admin.,married,secondary,no,-358,yes,no,unknown,5,may,358,2,-1,0,unknown,no
332,30,blue-collar,single,secondary,no,-457,yes,no,unknown,5,may,143,2,-1,0,unknown,no
338,51,admin.,single,secondary,yes,-2,no,no,unknown,5,may,402,3,-1,0,unknown,no
342,40,blue-collar,divorced,secondary,no,-333,yes,no,unknown,5,may,183,2,-1,0,unknown,no
347,39,blue-collar,married,primary,no,-100,yes,no,unknown,5,may,680,2,-1,0,unknown,no
412,39,admin.,single,secondary,no,-25,yes,no,unknown,6,may,576,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40795,34,admin.,single,secondary,no,-32,no,yes,cellular,11,aug,89,3,103,2,success,no
40963,26,management,single,tertiary,no,-8,no,no,cellular,13,aug,402,2,-1,0,unknown,no
41010,26,technician,single,tertiary,no,-67,yes,no,cellular,13,aug,143,1,90,1,success,no
41095,42,admin.,married,primary,no,-306,yes,no,cellular,17,aug,308,1,459,1,success,yes
41142,44,management,married,tertiary,no,-600,yes,no,cellular,18,aug,360,1,-1,0,unknown,no
41234,53,retired,divorced,tertiary,no,-309,yes,no,cellular,21,aug,343,2,428,2,success,yes
41546,27,student,single,tertiary,no,-148,yes,no,cellular,11,sep,146,3,224,1,other,no
42401,27,blue-collar,single,secondary,no,-46,yes,no,cellular,3,dec,97,3,199,8,other,no
42961,35,admin.,single,secondary,no,-32,no,yes,cellular,9,feb,63,4,182,5,failure,yes
43049,27,management,single,tertiary,no,-69,yes,no,cellular,15,feb,205,3,-1,0,unknown,yes
43176,28,blue-collar,single,secondary,no,-46,yes,no,cellular,2,mar,525,1,89,11,failure,yes
43427,27,technician,single,tertiary,no,-67,yes,no,cellular,6,apr,604,3,236,2,failure,yes
43488,36,management,married,tertiary,no,-115,yes,no,cellular,16,apr,297,4,182,2,other,yes
43704,29,management,single,tertiary,no,-27,no,no,cellular,13,may,270,1,-1,0,unknown,yes
43727,48,technician,divorced,secondary,no,-63,no,yes,unknown,15,may,7,1,670,5,other,no
43843,28,blue-collar,single,secondary,no,-46,yes,no,cellular,1,jun,154,2,91,12,success,yes
44240,35,blue-collar,married,secondary,no,-17,yes,no,unknown,20,jul,7,1,-1,0,unknown,no
44284,27,technician,single,secondary,no,-69,no,no,unknown,26,jul,4,1,-1,0,unknown,no
44302,31,services,single,secondary,yes,-248,no,no,unknown,27,jul,5,1,-1,0,unknown,no
44343,47,management,divorced,tertiary,no,-130,yes,no,cellular,30,jul,221,4,431,5,other,no
44459,29,admin.,single,tertiary,no,-197,no,no,unknown,6,aug,47,1,-1,0,unknown,no
44469,35,admin.,single,secondary,no,-32,no,yes,cellular,6,aug,366,2,178,9,success,yes
44541,28,management,single,tertiary,no,-62,no,no,unknown,12,aug,17,1,-1,0,unknown,no
44566,34,services,married,secondary,no,-52,no,no,unknown,13,aug,12,1,-1,0,unknown,no
44578,36,entrepreneur,married,secondary,no,-280,no,no,unknown,17,aug,6,1,-1,0,unknown,no
44626,31,services,single,secondary,no,-205,no,no,cellular,1,sep,481,1,579,1,failure,yes
44629,28,blue-collar,single,secondary,no,-46,yes,no,cellular,1,sep,199,1,92,14,success,yes
44836,33,blue-collar,married,primary,no,-195,no,no,unknown,20,sep,9,1,-1,0,unknown,no
44908,48,management,divorced,tertiary,no,-130,yes,no,cellular,29,sep,110,2,61,9,failure,no
44964,21,blue-collar,single,primary,no,-42,no,no,unknown,10,oct,5,1,-1,0,unknown,no

In [23]:
#Q8
#ax2 = df.plot.scatter(x='marital', y='age', c='species',colormap='viridis')

In [44]:
#Q9
df.query("balance > 1000 & job == 'entrepreneur'")

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
357,33,entrepreneur,single,tertiary,no,1068,yes,no,unknown,5,may,396,2,-1,0,unknown,no
414,36,entrepreneur,married,tertiary,no,1169,yes,no,unknown,6,may,168,2,-1,0,unknown,no
695,44,entrepreneur,married,tertiary,no,1631,yes,no,unknown,6,may,346,2,-1,0,unknown,no
947,46,entrepreneur,married,unknown,no,1481,yes,no,unknown,7,may,49,3,-1,0,unknown,no
1020,36,entrepreneur,married,tertiary,no,1722,yes,no,unknown,7,may,349,2,-1,0,unknown,no
1236,34,entrepreneur,married,tertiary,no,10350,yes,no,unknown,8,may,187,3,-1,0,unknown,no
1711,38,entrepreneur,married,secondary,no,2139,yes,no,unknown,9,may,576,1,-1,0,unknown,no
1788,32,entrepreneur,single,tertiary,no,6259,yes,no,unknown,9,may,230,2,-1,0,unknown,no
1902,39,entrepreneur,married,secondary,no,1261,yes,no,unknown,9,may,129,2,-1,0,unknown,no
2005,37,entrepreneur,divorced,secondary,no,1190,yes,no,unknown,9,may,268,3,-1,0,unknown,no
2705,40,entrepreneur,married,tertiary,no,1089,yes,yes,unknown,13,may,195,5,-1,0,unknown,no
2747,48,entrepreneur,married,unknown,no,2550,yes,no,unknown,14,may,175,3,-1,0,unknown,no
2793,43,entrepreneur,married,secondary,no,1516,yes,no,unknown,14,may,318,1,-1,0,unknown,no
2830,49,entrepreneur,married,secondary,no,1160,yes,no,unknown,14,may,153,1,-1,0,unknown,no
2869,45,entrepreneur,married,primary,no,2418,yes,no,unknown,14,may,120,1,-1,0,unknown,no
2970,40,entrepreneur,married,secondary,no,1416,yes,no,unknown,14,may,210,2,-1,0,unknown,no
2983,45,entrepreneur,single,tertiary,no,1410,yes,no,unknown,14,may,44,8,-1,0,unknown,no
3236,60,entrepreneur,married,tertiary,no,1164,yes,no,unknown,15,may,325,1,-1,0,unknown,no
3241,51,entrepreneur,married,tertiary,no,6659,yes,yes,unknown,15,may,203,1,-1,0,unknown,no
3297,45,entrepreneur,married,primary,no,1953,yes,no,unknown,15,may,95,3,-1,0,unknown,no
3304,57,entrepreneur,married,secondary,no,1037,yes,yes,unknown,15,may,112,1,-1,0,unknown,no
3327,53,entrepreneur,married,tertiary,no,22370,yes,no,unknown,15,may,106,1,-1,0,unknown,no
3337,40,entrepreneur,married,primary,no,3676,yes,yes,unknown,15,may,101,1,-1,0,unknown,no
3596,48,entrepreneur,married,primary,no,3705,yes,no,unknown,15,may,151,2,-1,0,unknown,no
3740,44,entrepreneur,married,tertiary,no,3689,yes,no,unknown,16,may,134,3,-1,0,unknown,no
3874,54,entrepreneur,married,primary,no,3343,yes,yes,unknown,16,may,216,1,-1,0,unknown,no
3928,56,entrepreneur,married,tertiary,no,1297,yes,no,unknown,16,may,180,1,-1,0,unknown,no
3998,53,entrepreneur,married,tertiary,no,2884,yes,no,unknown,16,may,165,4,-1,0,unknown,no
4216,28,entrepreneur,single,unknown,no,1306,yes,no,unknown,19,may,396,3,-1,0,unknown,no
4482,39,entrepreneur,married,tertiary,no,2644,yes,no,unknown,20,may,253,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41150,49,entrepreneur,single,tertiary,no,2209,no,no,cellular,18,aug,307,1,-1,0,unknown,no
41374,32,entrepreneur,single,tertiary,no,59649,no,no,cellular,1,sep,69,2,-1,0,unknown,no
41385,63,entrepreneur,married,primary,no,2287,no,no,telephone,1,sep,490,1,-1,0,unknown,no
41471,27,entrepreneur,married,tertiary,no,1991,no,yes,cellular,7,sep,510,1,-1,0,unknown,no
41769,46,entrepreneur,divorced,secondary,no,1187,no,yes,cellular,13,oct,92,1,327,1,failure,no
41771,51,entrepreneur,divorced,tertiary,no,2109,no,no,cellular,13,oct,79,2,-1,0,unknown,yes
42176,64,entrepreneur,married,tertiary,no,2331,no,no,telephone,9,nov,201,1,-1,0,unknown,yes
42249,36,entrepreneur,married,secondary,no,2971,no,no,cellular,12,nov,247,1,97,8,failure,yes
42271,38,entrepreneur,married,tertiary,no,1438,no,no,cellular,13,nov,122,5,-1,0,unknown,no
42311,63,entrepreneur,married,tertiary,no,2707,no,no,telephone,16,nov,57,4,-1,0,unknown,no
42443,38,entrepreneur,divorced,secondary,no,1190,yes,no,cellular,7,dec,347,4,186,5,success,no
42493,53,entrepreneur,married,tertiary,no,1961,no,no,cellular,15,dec,351,1,-1,0,unknown,yes
42798,62,entrepreneur,married,secondary,no,3904,no,no,telephone,29,jan,403,2,-1,0,unknown,yes
42955,65,entrepreneur,married,tertiary,no,2331,no,no,telephone,9,feb,290,1,92,1,success,yes
43142,71,entrepreneur,married,tertiary,no,15265,no,no,cellular,25,feb,865,1,192,2,failure,no
43445,51,entrepreneur,divorced,tertiary,no,2109,no,no,cellular,12,apr,119,1,181,2,success,no
43502,60,entrepreneur,married,primary,no,2408,no,no,telephone,20,apr,102,4,-1,0,unknown,no
43952,53,entrepreneur,married,tertiary,no,1961,no,no,cellular,18,jun,91,2,185,1,success,no
44406,63,entrepreneur,married,secondary,no,3904,no,no,telephone,4,aug,250,2,187,2,success,yes
44455,21,entrepreneur,single,tertiary,no,2077,no,no,cellular,5,aug,323,1,-1,0,unknown,yes
44503,38,entrepreneur,single,secondary,no,2543,no,no,cellular,10,aug,223,1,414,4,failure,yes
44515,65,entrepreneur,married,tertiary,no,2331,no,no,telephone,11,aug,425,1,183,2,success,yes
44607,34,entrepreneur,married,secondary,no,4659,yes,no,unknown,30,aug,28,1,-1,0,unknown,no
44652,33,entrepreneur,single,tertiary,no,1623,yes,no,cellular,2,sep,291,3,-1,0,unknown,yes
44705,38,entrepreneur,married,tertiary,no,1649,no,yes,cellular,6,sep,218,2,432,3,success,no
44792,40,entrepreneur,married,tertiary,no,3585,no,no,cellular,15,sep,506,3,-1,0,unknown,yes
44845,40,entrepreneur,married,secondary,no,6403,no,no,cellular,22,sep,208,2,-1,0,unknown,yes
45140,63,entrepreneur,married,secondary,no,3904,no,no,telephone,8,nov,360,1,96,4,success,yes
45175,38,entrepreneur,single,secondary,no,2543,no,no,cellular,11,nov,357,3,93,5,success,yes
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [46]:
#Q10
df.query("balance <1000 & job == 'entrepreneur'& education=='secondary'")

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
27,52,entrepreneur,married,secondary,no,113,yes,yes,unknown,5,may,127,1,-1,0,unknown,no
94,57,entrepreneur,divorced,secondary,no,-37,no,no,unknown,5,may,173,1,-1,0,unknown,no
222,35,entrepreneur,divorced,secondary,no,-69,yes,no,unknown,5,may,300,1,-1,0,unknown,no
232,57,entrepreneur,married,secondary,no,294,yes,no,unknown,5,may,746,2,-1,0,unknown,no
256,59,entrepreneur,divorced,secondary,no,901,yes,no,unknown,5,may,73,3,-1,0,unknown,no
273,56,entrepreneur,divorced,secondary,no,155,no,no,unknown,5,may,118,3,-1,0,unknown,no
515,49,entrepreneur,married,secondary,no,167,yes,yes,unknown,6,may,198,3,-1,0,unknown,no
562,35,entrepreneur,married,secondary,yes,204,yes,no,unknown,6,may,424,2,-1,0,unknown,no
576,53,entrepreneur,married,secondary,no,288,no,no,unknown,6,may,69,1,-1,0,unknown,no
837,45,entrepreneur,married,secondary,no,68,yes,no,unknown,7,may,254,1,-1,0,unknown,no
1142,32,entrepreneur,married,secondary,no,135,yes,no,unknown,7,may,143,2,-1,0,unknown,no
1201,36,entrepreneur,single,secondary,no,157,yes,no,unknown,8,may,41,1,-1,0,unknown,no
1293,30,entrepreneur,married,secondary,no,31,no,no,unknown,8,may,229,1,-1,0,unknown,no
1355,33,entrepreneur,married,secondary,no,0,yes,yes,unknown,8,may,982,1,-1,0,unknown,no
1630,53,entrepreneur,married,secondary,no,-118,yes,no,unknown,9,may,101,3,-1,0,unknown,no
1813,30,entrepreneur,single,secondary,no,491,yes,no,unknown,9,may,197,4,-1,0,unknown,no
2200,54,entrepreneur,divorced,secondary,no,104,yes,no,unknown,12,may,391,1,-1,0,unknown,no
2263,33,entrepreneur,single,secondary,no,339,yes,no,unknown,12,may,212,2,-1,0,unknown,no
2341,26,entrepreneur,single,secondary,no,101,yes,no,unknown,13,may,723,1,-1,0,unknown,no
2354,48,entrepreneur,married,secondary,no,86,yes,no,unknown,13,may,98,1,-1,0,unknown,no
2496,49,entrepreneur,divorced,secondary,no,159,yes,no,unknown,13,may,95,3,-1,0,unknown,no
2545,37,entrepreneur,divorced,secondary,no,175,yes,yes,unknown,13,may,753,6,-1,0,unknown,yes
2667,43,entrepreneur,married,secondary,no,59,no,no,unknown,13,may,437,2,-1,0,unknown,no
2736,39,entrepreneur,married,secondary,no,580,yes,no,unknown,14,may,323,4,-1,0,unknown,no
2762,44,entrepreneur,married,secondary,no,0,no,no,unknown,14,may,211,2,-1,0,unknown,no
2905,49,entrepreneur,married,secondary,no,348,yes,no,unknown,14,may,139,2,-1,0,unknown,no
2971,40,entrepreneur,married,secondary,no,264,yes,no,unknown,14,may,222,2,-1,0,unknown,no
3093,45,entrepreneur,married,secondary,no,245,yes,no,unknown,14,may,126,3,-1,0,unknown,no
3167,41,entrepreneur,married,secondary,no,718,yes,no,unknown,14,may,318,2,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38396,39,entrepreneur,married,secondary,no,680,yes,no,cellular,15,may,135,1,361,2,failure,no
38492,37,entrepreneur,single,secondary,no,-22,yes,no,cellular,15,may,317,1,-1,0,unknown,yes
38508,42,entrepreneur,married,secondary,no,169,yes,no,telephone,15,may,87,4,-1,0,unknown,no
38636,29,entrepreneur,married,secondary,no,422,yes,no,cellular,15,may,69,3,361,2,failure,no
38692,34,entrepreneur,married,secondary,no,183,yes,no,cellular,15,may,339,4,-1,0,unknown,no
38730,38,entrepreneur,married,secondary,no,157,no,yes,cellular,15,may,57,11,366,1,other,no
38898,43,entrepreneur,married,secondary,no,-480,yes,yes,cellular,18,may,1126,1,350,6,failure,no
38905,40,entrepreneur,married,secondary,no,285,no,no,cellular,18,may,261,1,178,1,failure,no
39152,46,entrepreneur,married,secondary,no,145,yes,no,cellular,18,may,236,3,-1,0,unknown,no
39233,27,entrepreneur,married,secondary,no,97,yes,yes,cellular,18,may,13,3,-1,0,unknown,no
39253,36,entrepreneur,married,secondary,no,246,yes,no,cellular,18,may,427,4,-1,0,unknown,no
39304,24,entrepreneur,single,secondary,no,69,yes,no,cellular,18,may,35,3,-1,0,unknown,no
39544,56,entrepreneur,married,secondary,no,339,yes,no,cellular,26,may,251,1,98,3,other,no
39789,42,entrepreneur,married,secondary,no,707,no,no,cellular,1,jun,233,1,348,1,success,no
40098,50,entrepreneur,married,secondary,no,78,no,no,telephone,4,jun,143,1,-1,0,unknown,no
40620,57,entrepreneur,married,secondary,no,666,no,no,cellular,4,aug,138,1,-1,0,unknown,no
40729,57,entrepreneur,married,secondary,no,905,no,no,cellular,7,aug,121,1,-1,0,unknown,no
40731,55,entrepreneur,divorced,secondary,no,538,yes,no,cellular,7,aug,353,2,-1,0,unknown,yes
41654,84,entrepreneur,married,secondary,no,0,no,no,telephone,30,sep,992,2,-1,0,unknown,yes
41691,34,entrepreneur,single,secondary,no,318,yes,no,cellular,6,oct,88,1,169,3,failure,no
41763,55,entrepreneur,divorced,secondary,no,538,yes,no,cellular,13,oct,306,1,67,2,success,no
42387,32,entrepreneur,married,secondary,no,390,no,no,cellular,30,nov,152,1,-1,0,unknown,no
42821,33,entrepreneur,single,secondary,no,278,no,no,cellular,1,feb,563,5,-1,0,unknown,yes
43002,48,entrepreneur,single,secondary,no,315,no,no,unknown,11,feb,271,1,-1,0,unknown,yes
43519,58,entrepreneur,married,secondary,no,496,no,no,cellular,22,apr,132,1,-1,0,unknown,yes
43810,26,entrepreneur,single,secondary,no,681,no,yes,unknown,27,may,137,1,-1,0,unknown,no
44351,39,entrepreneur,married,secondary,no,689,no,no,cellular,30,jul,240,3,-1,0,unknown,no
44578,36,entrepreneur,married,secondary,no,-280,no,no,unknown,17,aug,6,1,-1,0,unknown,no
44691,32,entrepreneur,married,secondary,no,390,no,no,cellular,6,sep,440,1,280,1,failure,yes
45083,59,entrepreneur,married,secondary,no,496,no,no,cellular,22,oct,738,3,183,1,success,yes